.container {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}


.container:hover {
  opacity: 0.5;
}

.albumCover {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1em;
}
.textContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
