.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 20%;
  border: 1px solid #000000;
  background-color: #5c469c;
  border-radius: 1ch;
  font-size: large;
  align-self: center;
  color: white;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}
