.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.linkContainer {
  transition: transform 0.2s;
  color: inherit;
  background-color: #0c134f;
  border-radius: 1ch;
  margin-bottom: 1ch;
}

.linkContainer:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: #5c469c;
}

.contentContainer {
  width: 60%;
  padding: 2ch;
  display: flex;
  flex-direction: column;
  margin: 1ch;
}

.header {
  margin: 0.5ch;
  width: 100%;
  text-align:center;
}

.image {
  border-radius: 2ch;
}
