.container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width:100%;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  width: 50vw;
  box-sizing: border-box;
  margin-bottom: 2em;
  height: fit-content;
  padding: 1.5em;
  border-radius: 2em;
  background-color: rgba(92, 70, 156, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  bottom: 0;
  gap: 1em;
}

.searchContainer {
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  width: 100%;
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.label {
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.toggleFilterBtn {
  background-color: #5c369c;
  color: white;
  font-weight: 700;
  padding: 1em;
  border-radius: 1.5em;
  border: none;
  margin: 1em;
  width: 10em;
}

.toggleFilterBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.7;
  transition: 0.3s;
}

.resetFilterBtn {
  background-color: #5c369c;
  color: white;
  font-weight: 700;
  padding: 1em;
  border-radius: 1.5em;
  border: none;
  margin: 1em;
  width: 10em;
}

.resetFilterBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.7;
  transition: 0.3s;
}

@media(max-width: 780px){
  .filterContainer {
    width: 100%;
    min-width: 20em;
    height: 40vh;
    margin: 0;
    border-radius: 0;

  }
}

.searchHeader{
  margin-bottom: 0.4em;
}
