.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.artistDetailCard {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: #1d267d;
  border-radius: 2ch;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2rem;
}

.goBackButton {
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
  background-color: #5c369c;
  border-radius: 50%;
  width: 2.5em;
  height:2.5em;
}

.goBackButton:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.bio {
  font-size: 1em;
  text-align: center;
  margin: 2em;
}
h1 {
  margin-bottom: 0;
}
h2 {
  margin: 1em;
  width: 100%;
  text-align:center;
}

.albumTitle {
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.albumCover {
  max-width: 15em;
  width: 25vw;
  hight: auto;
  transition: transform 0.2s;
}

.albumCover:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.albumContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.albums {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  border-radius: 2ch;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 780px){
  .artistDetailCard {
    width: 100%;
  }

  .albumTitle {
    max-width: 7em;
    text-align:center;
  }
}


