.container:hover {
  opacity: 0.5;
}
.container {
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
  background-color: #1d267d;
  padding: 2ch;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.text {
  margin: 0;
}
