.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.songDetailCard {
  display: flex;
  flex-direction: row;
  width: 70vw;
  background-color: #1d267d;
  border-radius: 2ch;
}

.goBackButton {
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
  background-color: #5c369c;
  border-radius: 50%;
  width: 2.5em;
  height:2.5em;
}

.goBackButton:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 780px) {
  .songDetailCard {
    width: 100%;
    height: fit-content;
    padding: 2em;
    flex-direction: column;
  }
}
