.container:hover {
  opacity: 0.5;
}
.container {
  text-decoration: none;
  color: inherit;
}
.albumCover {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 5px;
}
.textContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
}
